<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="https://i.imgur.com/hC3O23C.png" class="img-responsive" alt="Image">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      <h1>{{title}}</h1>
      <h1>Welcome to {{title}}</h1>
       <form method="post" action="/spaces">
         <ul>
           <li><label for='spaceName'>Enter your space's name: </label>
           <input id='spaceName' type="text" name="spaceName" placeholder="Name..." required unique></li>

           <li><label for='spaceLocation'>Location: </label>
           <input id='spaceLocation' type="text" name="spaceLocation" placeholder="Location..." required></li>

           <li><label for='spacePricePerNight'>Enter your price per night: </label>
           <input id='spacePricePerNight' type="text" name="spacePricePerNight" placeholder="Price per night..." required></li>

           <li><label for='spaceNumberOfRooms'>Enter the number of rooms: </label>
           <input id='spaceNumberOfRooms' type="text" name="spaceNumberOfRooms" placeholder="Number of rooms..." required></li>

           <li><label for='spaceDescription'>Enter a description: </label>
           <input id='spaceDescription' type="text" name="spaceDescription" placeholder="Description...." required></li>
           <li><div>
             <label>Pet friendly? </label>
             <label for='spacePetFriendlyTrue'>Yes</label>
             <input id='spacePetFriendlyTrue' type="radio" name="spacePetFriendly" value='yes' required>
             <label for='spacePetFriendlyFalse'>No</label>
             <input id='spacePetFriendlyFalse' type="radio" name="spacePetFriendly" value='no' required>
           </div></li>
         </ul>
         <input type="submit" value="List Space">
       </form>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
