<p>Welcome, {{user.username}}!</p>

{{ user }}
{{ spaces }}
{{ bookings }}

<form action="/users">
  <input type='hidden' name='_method' value='DELETE'>
  <button type="submit">Log Out</button>
</form>
