<section>
  <h1>Sign Up to MakersBnB</h1>

  <form action='/users/new' method='get'>
    <input type="submit" value="Create a new Account">
  </form>

  <form action='/login' method='get'>
    <input type="submit" value="Sign In">
  </form>

</section>
