
<p>Welcome to {{title}}</p>
<!DOCTYPE html>
<html>
 <head>
 <title>Makers B n B</title>
 </head>

 <body>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
 <form method="post" action="/addlisting">
 <label>Enter Your Listing</label><br>
 <input type="text" name="listingName" placeholder="Enter listing...." required>
 <input type="submit" value="Add Listing">
 </form>
 </body>
</html>
