<section>
  <h1>Login!</h1>

    <form action='/home' method='post'>
      <ul>
        <li><label for='username'>Email: </label>
        <input id='username' name='username' type='text' placeholder="Username..." required></li>

        <li><label for='password'>Password: </label>
        <input id='password' name='password' type='password' placeholder="Password..." required></li>

        <input type='submit' value='Login'>
      </ul>
    </form>

    <form action="/">
      <input type="submit" value="Back">
    </form>
</section>
