<section>
  <h1>Login!</h1>

    <form action='/home' method='post'>

      <li><label for='email'>Email: </label>
      <input id='email' name='email' type='email' placeholder="Email address..." required></li>

      <li><label for='password'>Password: </label>
      <input id='password' name='password' type='password' placeholder="Password..." required></li>

      <input type='submit' value='Login'>

    </form>

    <form action="/">
      <input type="submit" value="Back">
    </form>
</section>
